@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background-color: #B5B7FF;
}

body {
    font-family: "Space Mono", monospace;
}

h2 {
    position: absolute;
    left: 60%;
}

div {
    position: absolute;
    left: 45%;
    width: 65%;
    height: 45%;
    align-content: center;
    font-size: large;
}

.skills_list {
    padding-top: 15px;
}

.menu {
    background-color: black;
    width: 15%;
    padding: 2px 10px 15px 5px;
    position: fixed;
    top: 40%;
    left: 0;
    color: white;
}

.spinnin {
    animation: spin 1s linear;
}
@keyframes spin {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.sql_img {
    position: absolute;
    right: 5%
}

.fadein_ja {
    animation: fadein 0.5s;
}

.fadein_cs {
    animation: fadein 1s;
}

.fadein_js {
    animation: fadein 1.5s;
}

.fadein_html {
    animation: fadein 2s;
}

.fadein_css {
    animation: fadein 2.5s;
}

.fadein_py {
    animation: fadein 3s;
}

.fadein_sql {
    animation: fadein 3.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}